<p class="breadcrumb">
	<%= link_to "Home", links_path %> / About
</p>

<h2>About</h2>

<p>Lesson Frog is the best place on the web to share and find great learning resources. It was created by
Ben Collins as a final project for <a href="https://generalassemb.ly/education/back-end-web-development/washington-dc" 
target="_blank">General Assembly's Back End Web Development</a> course in Washington, DC (Jan 2015 cohort).</p>

<h2>Technology Stack</h2>

<p>This app is built using the following technology:</p>
> Ruby on Rails Framework<br />
> Sass CSS sheets, implemented according to the SMACSS architecture

<p>The dev environment was a Mac, Sublime Text 2, Terminal</p>

<h2>Resources</h2>

<h3>Books:</h3>

<p>Learn HTML and CSS - Shay Howe</p>
<p>The Well-Grounded Rubyist - David Black</p>
<p>The Rails 4 Way - Obie Fernandez and Kevin Faustino</p>
