/* -------------------------------------------------
Layout Styles
------------------------------------------------- */
header {
	background-color: #42444E;
	border-bottom: 1px solid #000;
}
.container {
	width: 75%;
	margin: 0 auto;
}
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear:both;
}
.group {
	clear:both;
	*zoom: 1;
}